name: GitHub Profile Summary Cards

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  summary-cards:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate summary cards
        uses: vn7n24fzkq/github-profile-summary-cards@release
        with:
          USERNAME: r-khaled
          BRANCH_NAME: main
          THEME: github_dark
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
